.projeto{
    background: #141414;
    color: #ffffff;
}

.projeto-container{
    max-width: 1200px;
    padding: 0 20px 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2.1fr;
    gap: 100px;
    position: relative;
}

.projeto .subtitulo{
    color: #000000;
    max-width: 5ch;
}

.projeto-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
}

.projeto-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.projeto-nome::before{
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: #2BA34D;
    position: absolute;
    left: -24px;
}

.projeto-container::after{
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url(../projeto-pessoal-arquivos/img/detalhe.svg) no-repeat center;
    position: absolute;
    bottom: -50px;
    left: 20px;
}


@media (max-width: 800px) {
    .projeto-container{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }
    .projeto-subtitulo{
        color: #ffffff;
    }
    .projeto-texto{
        font-size: 1.25rem;
    }
}